<h1>Weather Stations (A Demo on Angular Promises)</h1>
<h2>Please Search for a Station or Select from the Presets</h2>
<form ng-submit="metarCtrl.makeSearch()" name="metarForm">
	<span ng-show="metarForm.searchField.$error.minlength">This query is too small<br/></span>
	<span ng-show="metarForm.searchField.$error.maxlength">This query is too large<br/></span>
	<span ng-show="metarForm.searchField.$error.required">This is a required field<br/></span>
	<input type="text" name="searchField" ng-model="metarCtrl.query" ng-minlength=4 ng-maxlength=4 required>
	<input type="submit" value="Search" ng-disabled="metarForm.$invalid">	
</form>

<ul>
	<li><button ng-click="metarCtrl.search('KROC')">Rochester</button></li>
	<li><button ng-click="metarCtrl.search('KBUF')">Buffalo</button></li>
	<li><button ng-click="metarCtrl.search('KNYC')">New York City</button></li>
	<li><button ng-click="metarCtrl.search('KPOU')">Poughkeepsie</button></li>
</ul>

<button ng-click="metarCtrl.searchAll()">Get All Metar in List</Button>
<br />
<button ng-click="metarCtrl.abortRequest()">Abort Request</Button>

<a href="/#/">Back</a>

<div ng-if=metarCtrl.loaded>

<h2>Results for METAR Station {{ metarCtrl.stationInfo }}</h2>
	<ul ng-repeat='(key,value) in metarCtrl.metar'>
		<li>{{ key }}: {{ value }}</li>
	</ul>
</div>

<div ng-if=metarCtrl.loadedList>
<ul ng-repeat='(key,value) in metarCtrl.metar'> 
    <li><h2>Results for METAR Station {{ metarCtrl.stationInfo }}</h2>
            <ul ng-repeat='(key,value) in metarCtrl.metar'>
                    <li>{{ key }}: {{ value }}</li>
            </ul>
    </li>
</ul>
</div>

